body {
    padding: 25px;
    margin: 0;
}
.top {
    width: 100%;
    border: 5px solid blue;
    padding: 15px;      
    box-sizing: border-box ;
    
}
.middle {
    width: 100%;
    border: 5px dotted blue;
    padding: 40px;
    box-sizing: border-box;
}

.bottom{

}
.purple {
    height: 100px;
    width: 50px;    
    background-color: blueviolet;
    display: inline-block;
    
}
.green {
    height: 200px;
    width: 500px;
    background-color: green;
    display: inline-block;
}
.circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: blue; 
    display: inline-block;
}

.yellow {
    height: 100px;
    width: 80vw;
    display: inline-block;
    background-color: tan;
    box-shadow: 10px 10px 5px 0px black;
}
.bottom {
    height: 300px;
    width: 50%;
    position: center;
    box-shadow: 5px 5px 5px 5px black;
    border: 1px;
    margin: 25px auto;
    box-sizing: border-box;

}
.works{
    width: 100%;
    text-align: center;
    color: navy;
    letter-spacing: 10px;
}